.New{
  background-color: rgb(225, 175, 70);
  border-radius: 25px;
  padding: 25px;
  width: 60%;
  font-family: Copperplate,Copperplate Gothic Light,fantasy;
}
.Footer{
    background-color: rgb(225, 175, 70);
    margin: 25px;
    padding: 25px;
    font-family: Copperplate,Copperplate Gothic Light,fantasy; ; 
  }
.Welcome{
  background-color:rgb(225, 175, 70);
  margin: 0;
  border:1px solid rgb(225, 175, 70);
  border-radius: 25px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(11, 21, 34);
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    border-radius:25px;
    
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Copperplate,Copperplate Gothic Light,fantasy ;
  }
  
  li a:hover {
    background-color: rgb(0, 0, 0);
  }
  
  .active {
    background-color: rgb(225, 175, 70);
  }